{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}


<div id="Banner-{{ section.id }}" class="banner">
  <div class="xflex xw-full">
      <div class="xrelative xw-2/5">
        <div></div>
      </div>
      <div class="xrelative">
      </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.image-banner.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "main_header",
      "label": "Main header"
    },
    {
      "type": "text",
      "id": "main_description",
      "label": "Main description"
    },
    {
      "type": "image_picker",
      "id": "main_logo",
      "label": "Main logo"
    },
    {
      "type": "image_picker",
      "id": "slide_dot1",
      "label": "Slide dot1"
    },
    {
      "type": "image_picker",
      "id": "slide_dot2",
      "label": "Slide dot2"
    },
    {
      "type": "image_picker",
      "id": "slide_dot3",
      "label": "Slide dot3"
    },
    {
      "type": "text",
      "id": "product_header",
      "label": "Product header"
    },
    {
      "type": "text",
      "id": "product_description",
      "label": "Product description"
    },
    {
      "type": "image_picker",
      "id": "product_image",
      "label": "Product image"
    }
  ]
}
{% endschema %}
